.entrance {
  display: flex;
  width: 100%;
  height: 600px;
}
.adayar {
  width: 540px;
  height: 530px;
  margin-bottom: 10px;
}
.ourStory {
  width: 540px;
  float: left;
}
.para {
  text-align: justify;
}
.readMore {
  background: #36190e;
  color: #ffffff;
  padding: 5px 15px;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

.old-madras {
  /* margin-top: 10px; */
  font-size: 20px;
}

.map {
  color: rgb(194, 133, 59);
  font-weight: 600;
}

.our-products {
  background: wheat;
}
.product-image {
  width: -webkit-fill-available;
}
.product-card {
  background: white;
  padding: 15px 15px 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}
.product-title {
  display: flex;
  justify-content: space-between;
}

.product-title .title1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 10px;
}

.product-title .title2 {
  font-size: 16px;
  color: #fb3a5c;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 10px;
}

/* our blogs */
.our-blogs {
  background: white;
}
.blog-image {
  width: -webkit-fill-available;
}
.blog-card {
  background: wheat;
  padding: 15px 15px 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}
.blog-title {
  justify-content: space-between;
}

.blog-title .title1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 10px;
}

.blog-title .title2 {
  font-size: 16px;
  color: #fb3a5c;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 10px;
}

/* our blogs */
.our-store-location {
  background: wheat;
  text-align: center;
}

.seeallbranch {
  background: #36190e;
  color: #ffffff;
  padding: 5px 15px;
  border: none;
  outline: none;
  border-radius: 8px;
}
