.header_nav_top {
    text-align: center;
    margin: 0px 0px 0px 0px;
   justify-content: center;
   padding: 5px 60px;
  }
  title{
    text-decoration: none !important;
  }

  .menus{
    display: flex;
  }

  .header-menu {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    color: #444;
    font-size: 14px;
    font-weight: 400;
  }

  .nav-content {
    display: flex;
    justify-content: space-between !important;
    width: 100%;
  }