
#para{
    font-weight:500;
    color:#000;
margin-left: 100px;
}
#section-header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 100;
    color:#422D28;  
    margin-top: 100px;   

}
